<!DOCTYPE html>

<html>
  <head>
    <title>Impressionator</title>
    <script src="/javascripts/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <nav>
      <h2><a href="/">Impressionator</a></h2>
      <a class="nav-item" href="/impressionator">Get an Impression</a>
    </nav>
      <main>
        <div class="row">
          <div class="col-6 flex-column">
            <h3>Input sample data:</h3>
            <form id="sample-form" method="post">
              <textarea name='sample' placeholder="Enter some sample text to process..."></textarea>
              <button class='btn' type='submit' id='sample-submit'>Submit</button>
            </form>
          </div>
          <div class="col-6 flex-column">
            <h3>Generated text:</h3>
            <div class="output-area">
              Stuff will appear here once you submit.
            </div>
          </div>
        </div>
      </main>
    <footer>
      <p>Made at HackCMU 2019; by Harvey, Bill, Rohan, and DK</p>
    </footer>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#sample-form').submit(function(e) {
          e.preventDefault();
          form = $(this)
          var formData = form.serialize();
          $.ajax({
            url: '/api',
            type: 'post',
            dataType: 'json',
            data: {"sample": formData.split('=')[1]},
            success: function(response){
              $(".output-area").html(response.output)
            }
          })
        })
      });
    </script>
  </body>
</html>
