<!DOCTYPE html>

<html>
  <head>
    <title>Impressionator</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
      <main>
        <nav>
          <h2><a href="/">Impressionator</a></h2>
          <a class="nav-item" href="/impressionator">Get an Impression</a>
        </nav>
        <div class="row flex-column">
          <div class="row justify-evenly">
            <a class="toggle-link active" id="userSample">Combine two samples</a>
            <a class="toggle-link" id="providedSample">Generate from one sample</a>
          </div>
          <div class="row">
            <div class="col-6 flex-column" id="sampleInput">
              <h3>Select two people:</h3>
              <form id="sample-form" method="post">
                <select name="dataName1">
                  <option>Donald Trump Twitter</option>
                  <option>Jaden Smith Twitter</option>
                  <option>The Office Script</option>
                  <option>The Bible</option>
                  <option>Obama State of the Union</option>
                </select>
                <select name="dataName2">
                  <option>Donald Trump Twitter</option>
                  <option>Jaden Smith Twitter</option>
                  <option>The Office Script</option>
                  <option>The Bible</option>
                  <option>Obama State of the Union</option>
                </select>
                <button class='btn' type='submit' id='sample-submit'>Submit</button>
              </form>
            </div>
            <div class="col-6 flex-column hidden" id="existingSample">
              <h3>Select a person:</h3>
              <form id="select-form">
                <select name="dataName">
                  <option>Donald Trump Twitter</option>
                  <option>Jaden Smith Twitter</option>
                  <option>The Office Script</option>
                  <option>The Bible</option>
                  <option>Obama State of the Union</option>
                </select>
                <button class='btn' type='submit' id='sample-submit'>Submit</button>
              </form>
            </div>
            <div class="col-6 flex-column">
              <h3>Generated text:</h3>
              <div class="output-area">
                Stuff will appear here once you submit.
              </div>
            </div>
          </div>
        </div>
      </main>
    <footer>
      <p>Made at HackCMU 2019; by Harvey, Bill, Rohan, and DK</p>
    </footer>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#sample-form').submit(function(e) {
          e.preventDefault();
          form = $(this)
          var formData = form.serializeArray();
          $.ajax({
            url: '/api',
            type: 'post',
            dataType: 'json',
            data: {"data1": formData[0].value,
                   "data2": formData[1].value},
            success: function(response){
              $(".output-area").html(response.output)
            }
          })
        })
      });
    </script>
  </body>
</html>
