<!DOCTYPE html>

<html>
  <head>
    <title>Impressionator</title>
    <script src="/javascripts/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/frontpage.css">
  </head>
  <body>
    <main>
      <nav>
        <h2><a href="/">Impressionator</a></h2>
        <a class="nav-item" href="/impressionator">Get an Impression</a>
      </nav>
      <div id = "frontinfobox">
        <div id = "frontpageinfo">
          <h1>What is Impressionator?</h1>

          <p id = "info-text">
            Impressionator is a web application that will make text impressions
            of people. Whether it be a celebrity or a close friend,
            Impressionator will find that person's speech habits and
            patterns, then produce something based on that information. All you
            need to do is give it transcriptions of how the person talks, and
            let Impressionator do the work!
          </p>

          <div id = "tidbit-bar">
            <div class = "tidbit">
              <h3>More is Better</h3>
              <p>The ML process does better with more data. The more text you
                give us, the better we'll do!</p>
            </div>
            <div class = "tidbit">
              <h3>Smart and Efficient Learning</h3>
              <p>The neural network will integrate your data in its training,
              but it's not completely relient on it, making it both smarter
            and faster.</p>
            </div>
            <div class = "tidbit">
              <h3>Open Source</h3>
              <p>This project is completely open sourced! View our repository
              <a href = "https://github.com/Harvard-Jahseh/Impressionator">here</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <p>Made at HackCMU 2019; by Harvey, Bill, Rohan, and DK</p>
    </footer>
  </body>
</html>
