<!DOCTYPE html>

<html>
  <head>
    <title>Impressionator</title>
    <script src="/javascripts/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/frontpage.css">
  </head>
  <body>
    <main>
      <nav>
        <h2><a href="/">Impressionator</a></h2>
        <a class="nav-item" href="/impressionator">Get an Impression</a>
      </nav>
      <div id = "frontinfobox">
        <div id = "frontpageinfo">
          <h1>What is Impressionator?</h1>

          <p>
            Impressionator is a web application that will make text impressions
            of people. Whether it be a celebrity or a close friend,
            Impressionator will find that person's speech habits and
            patterns, then produce something based on that information. All you
            need to do is give it transcriptions of how the person talks, and
            let Impressionator do the work!
          </p>

          <div id = "tidbit-bar">
          </div>
        </div>
      </div>
    </main>
    <footer>
      <p>Made at HackCMU 2019; by Harvey, Bill, Rohan, and DK</p>
    </footer>
  </body>
</html>
