@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

nav {
  padding: 20px 30px;
  background: #2980b9;
  color: #ecf0f1;
  display: flex;
  align-items: baseline;
}

main {
  height: calc(100% - 50px)
}


nav a {
  color: #ecf0f1;
}

nav h2 {
  color: #ecf0f1;
}

h3 {
  color: #2c3e50;
  padding: 8px;
}

.nav-item {
  padding-left: 30px;
}

.row {
  display: flex;
  padding: 15px 30px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-evenly {
  display: flex;
  justify-content: space-evenly;
}

.toggle-link {
  cursor: pointer;
  color: #7f8c8d;
  transition: border 500ms ease
}

.toggle-link:hover {
  text-decoration: underline;
}

.toggle-link.active {
  color: #2c3e50;
  text-decoration: underline;
}

.col-6 {
  width: calc(100%/(12/6));
  margin: 10px;
}

.btn {
  width: 160px;
  border-radius: 5px;
  border: none;
  background-color: #2980b9;
  color: #ecf0f1;
  margin: auto;
  padding: 10px 15px;
  cursor: pointer;
}

.btn .centered{
  margin: auto;
}

.output-area {
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  font-size: 14px;
}

form {
  margin-right: 10px;
  height: 100%;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

textarea {
  border-radius: 5px;
  border-color: #bdc3c7;
  resize: none;
  padding: 8px;
  color: #2c3e50;
  margin-bottom: 10px;
  height: 100%;
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  font-size: 12px;
  background: #2980b9;
  color: #ecf0f1;
}

body {
  height: 100VH;
  background: #ecf0f1;
}

* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}
